.container{
  display: inline-block;
  max-height: 450px;
max-width: 300px;

justify-content: space-between;
margin: 10px;

}
.container_card{
  background-color: rgba(151, 158, 87, 0.702);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 250px;
  border-radius: 10px;
  padding: 0.8rem;
}

.container_card_text{
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  
  border-radius: 10px;
}
.container_card_name{
  font-size:20px;
  white-space: nowrap; 
  width: 250px;
  height: 25px; 
  overflow: hidden; 
}

.container_card_name:hover {
  overflow: visible;
}

.container_card_img{
  object-fit: cover;
  width: 230px;
  height: 300px;
  border-radius: 10px;
  
}
.container_card_rating{
  padding-bottom: 0.3rem;
}